@import './styles/variables';
@import './styles/mixins';

.filters {
  width: 20%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.product-list {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
